# for loop

In [1]:
for a in range(20):
    print('omer')

omer
omer
omer
omer
omer
omer
omer
omer
omer
omer
omer
omer
omer
omer
omer
omer
omer
omer
omer
omer

In [2]:
list_of_std  = ['omer','ali','ahmed']

In [3]:
for std in list_of_std:
    print(std)

omer
ali
ahmed

In [4]:
for a in range(1,10):
    print(a, 'omer')

1 omer
2 omer
3 omer
4 omer
5 omer
6 omer
7 omer
8 omer
9 omer

In [18]:
for a in range(10,0,-2):
    print(a, 'omer')

10 omer
8 omer
6 omer
4 omer
2 omer

In [19]:
for a in range(1,10,2):
    print(a, 'omer')

1 omer
3 omer
5 omer
7 omer
9 omer

In [21]:
for a in range(0,10,2):
    print(a, 'omer')

0 omer
2 omer
4 omer
6 omer
8 omer

In [22]:
for a in range(1,10):
    print(a, "a")

1 a
2 a
3 a
4 a
5 a
6 a
7 a
8 a
9 a

In [23]:
for a in range(1,10,2):
    print(a, "a")

1 a
3 a
5 a
7 a
9 a

In [24]:
for a in range(10,1,-2):
    print(a, "a")

10 a
8 a
6 a
4 a
2 a

In [25]:
students = ['asad', 'ahmed','ali','bashir']

In [26]:
std = ['pakistani','pakistani','pakistani','pakistani']

In [27]:
new_list = students + std

In [28]:
new_list

['asad',
 'ahmed',
 'ali',
 'bashir',
 'pakistani',
 'pakistani',
 'pakistani',
 'pakistani']

In [29]:
students = ['asad', 'ahmed','ali','bashir']

In [31]:
students['asad'] = "pakistani"

TypeError: list indices must be integers or slices, not str

In [39]:
empty_list=[]
for student in students:
    empty_list.append(student + "pakistani")

In [40]:
empty_list

['asadpakistani', 'ahmedpakistani', 'alipakistani', 'bashirpakistani']

In [41]:
students = ['asad', 'ahmed','ali','bashir']

In [42]:
students.pop()

'bashir'

In [43]:
students

['asad', 'ahmed', 'ali']

In [44]:
students = ['asad', 'ahmed','ali','bashir']

In [47]:
for std in students:
    students = ['asad', 'ahmed','ali','bashir']
    add = students.pop()
    students.append(student + "pakistani")

In [48]:
students

['asad', 'ahmed', 'ali', 'bashirpakistani']

In [46]:
students

['asad', 'ahmed', 'ali', 'bashirpakistani']

In [49]:
students = ['asad', 'ahmed','ali','bashir']

In [51]:
for a in range(len(students)):
    students[a] = f'{students[a]} pakistani'
students

['asad pakistani', 'ahmed pakistani', 'ali pakistani', 'bashir pakistani']